.bgImg{
    background-image: url('../../assets/others/authentication.png');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero-content{
    background-image: url('../../assets/others/authentication.png');
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}