@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: white;
}

.menuItemImg{
  width: 118px;
  height: 104px;
  border-radius: 0 200px 200px 200px;
}

@layer components {
  .active {
    @apply text-red-700 font-extrabold text-xl;
  }

  .default {
    @apply text-white font-extrabold text-xl;
  }
}
