@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  background-color: white;
}

.menuItemImg {
  width: 118px;
  height: 104px;
  border-radius: 0 200px 200px 200px;
}

@layer components {
  .active {
    @apply text-[#EEFF25] font-extrabold text-xl;
  }

  .default {
    @apply text-white font-extrabold text-xl;
  }
}
